html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map { height: 100%; width: 100% }
.count-icon-red {
  background:red;
  text-align:center;
  vertical-align:middle;
  border:1px solid #000;
  border-radius:20px;
  line-height:40px;
}
.count-icon-blue {
  background:blue;
  text-align:center;
  vertical-align:middle;
  border:1px solid #000;
  border-radius:20px;
  line-height:40px;
}
.count-icon-corrector {
  background:black;
  text-align:center;
  vertical-align:middle;
  border:1px solid #000;
  border-radius:20px;
  line-height:40px;
}
#other_routes {
  width: 230px;
  height: 80%;
  overflow: auto;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: white;
  padding: 10px;
}
